

.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 100px;
}
 

.left-side-bar {
    position: fixed; 
    top: 0; 
    left: 0;
    width: 600px;
    height: 100vh; 
    background-color: #2c292e;
    display: flex;
    padding: 0; 
}
